In [1]:
# Write a while loop that adds all the numbers up to 100 (inclusive).

In [4]:
counter=0
total=0
while counter<=100:
    total=total + counter
    counter=counter + 1
print(total)

5050

In [ ]:
# Using a while loop, len function, 
# an if statement and the str() function; 
# iterate through the given list and if there is a 100, 
# assign a notification message 
# to the variable my_message with the index of 100.

In [5]:
lst=[10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]

my_message=""
i=0
while i<len(lst):
    i=i+1
    if lst[i]==100:
        my_message="There is 100 at index no:" +str(i)
        i+=i

print(my_message)

There is 100 at index no:12

In [ ]:
# Using a while loop and an if statement write a function named name_adder which
# appends all the elements in a list to a new list unless the element is an empty string: "".

In [15]:
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]

def name_adder(list):
    i = 0
    new_list = []
    while i < len(list):
        if list[i] != "":
            new_list.append(list[i])
        i = i+1
    return new_list
                
print(name_adder(lst1))

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [16]:
my_text="Hello World"
print(my_text)

Hello World

In [17]:
# Type a couple of different values on line 9 inside the print function. Make sure they are separated by commas.    
    
print("2,3,4")

2,3,4

In [19]:
print("make,noise")

make,noise

In [20]:
print("SpaceX", "Blue Origin", "Sierra Nevada")

SpaceX Blue Origin Sierra Nevada

In [21]:
print("2","3","4")

2 3 4

In [22]:
#Assign: 3 to variable glass_of_water.

glass_of_water=3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [24]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

In [26]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon=12
print(men_stepped_on_the_moon)

12

In [28]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding=" I love Python"
print(my_reason_for_coding)

 I love Python

In [29]:
#Assign a float with 2 decimals to the variable below. If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018=21.36


print(global_mean_sea_level_2018)

21.36

In [30]:
#Assign True or False to the variable below then print it.

staying_alive=True
print(staying_alive)

True

In [31]:
#Using type() function assign the type of the variable to answer_1, then print it.
men_stepped_on_the_moon=12

#Type your code here.

answer_1=type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [32]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2=type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [33]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3=type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [36]:
type("bng")

str

In [37]:
staying_alive=True

#Type your code here.


answer_4=type(staying_alive)


print(answer_4)

<class 'bool'>

In [39]:
#my_grade variable is a string (because it's in quotes). On line 9, convert it to an integer.

my_grade="10"

answer_5=int(my_grade)


print(answer_5)

10

In [40]:
#my_temp variable is a float (because it has decimals). On line 9, convert it to an integer.

my_temp=97.70

answer_6=int(my_temp)


print(answer_6)

97

In [41]:
#shoe_price variable is a string (because it's in quotes). On line 9, convert it into a float.

shoe_price="69.99"

answer_7=float(shoe_price)


print(answer_7)

69.99

In [42]:
#GWP denotes the total economic activity created by the world population collectively in a year.

gross_world_product=84.84

gwp_str=str(gross_world_product)

answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."


print(answer_8)

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.

In [43]:
#Create an empty list on line 3 and assign its type on line 4

gift_list=[]

answer_1=type(gift_list)


print(answer_1)

<class 'list'>

In [44]:
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items={}

answer_2=type(grocery_items)


print(answer_2)

<class 'dict'>

In [45]:
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list=()

answer_2=type(bucket_list)


print(answer_2)

<class 'tuple'>

In [47]:
#Fill in the right side of equation on line 3 so that gift_list is assigned to a list with values in it.

gift_list=['bag', 'drone', 'dress']
print(gift_list)

['bag', 'drone', 'dress']

In [49]:
#Fill in the right side of equation on line 3 so that grocery_list is assigned to a dictionary with values in it.

grocery_list={"banaa":4,"apple":2,"cherry":3}


print(grocery_list)

{'banaa': 4, 'apple': 2, 'cherry': 3}

In [51]:
#Assign the first element of the list to answer_1 on line 2
lst=[11, 100, 99, 1000, 999]
answer_1=lst[0]

print(answer_1)

11

In [52]:
#And let's print the second element directly inside print function.

#This time print the second element of the list directly on line 3. You should get 100

In [55]:
lst=[11, 100, 101, 999, 1001]

print(lst[1])

100

In [58]:
#Print the last element of the list through variable answer_1.
answer_1=lst[-1]
print(answer_1)

1001

In [59]:
#On line 3, add the string "pajamas" to the list with .append() method.

gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.

gift_list.append("pajamas")

print(gift_list)

['socks', '4K drone', 'wine', 'jam', 'pajamas']

In [60]:
#On line 3, this time add the sub-list: ["socks", "tshirt", "pajamas"] to the end of the gift_list.

gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.

gift_list.append(["socks", "tshirt", "pajamas"])

print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

In [62]:
#On line 3, this time insert "slippers" to index 3 of gift_list.

gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.insert(2,"slippers")



print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

In [63]:
# With .index() method you can learn the index number of an item inside your list. 
# Assign the index no of 8679 to the variable answer_1.


lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

answer_1=lst.index(8679)

print(answer_1)

8

In [65]:
# Using .append() method, add a new list to the end of the list which contains strings: 
#"Navigator" and "Suburban".

lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]
#  Type your code here.
lst.append(["Navigator", "Suburban"])



print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

In [67]:
#Using .remove() method, clear the last element of the list.

lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.
lst.remove(99)


print(lst)

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

In [68]:
#Using .reverse() method, reverse the list.
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

#  Type your code here.

lst.reverse()

print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [69]:
# Using .count() method, count how many times 6 occur in the list.

lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
#  Type your code inside print() function.

answer_1=lst.count(6)

print(answer_1)

4

In [70]:
# What is the sum of all the numbers in the list?

lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
answer_1=sum(lst)

print(answer_1)

1090

In [72]:
#What is the minimum value in the list?
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1=max(lst)   #min(lst)

print(answer_1)

777

In [74]:
#Assign the first element of the tuple to answer_1 on line 2
tt=(11, 100, 99, 1000, 999)

answer_1=tt[0]


print(answer_1)

11

In [76]:
#This time print the third element of the tuple
tt=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1=(tt[2])

print(answer_1)

101

In [78]:
#Print the second from the last element of the tuple.
lst=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1=lst[-2]

print(answer_1)

999

In [79]:
#What's the index of 2?

tt=(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)
#  Type your code here.

answer_1=tt.index(2)

print(answer_1)

7

In [80]:
#How many times does 777 occur?
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

#  Type your code here.

answer_1=tt.count(777)

print(answer_1)

2

In [81]:
#What is the sum of all the numbers in the tuple?
tt=(42, 1092, 11, 88, 65, 2, 6)

#  Type your code on line 4:

ans_1=sum(tt)


print(ans_1)

1306

In [82]:
# What is the minimum value in the tuple?
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1=min(tt)


print(ans_1)

9

In [83]:
max(tt)

1001

In [84]:
# When was Plato born?
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
answer_1=dict["born"]

print(answer_1)

-427

In [85]:
# Change Plato's birth year from B.C. 427 to B.C. 428.
dict["born"]=-428

In [86]:
dict

{'name': 'Plato',
 'country': 'Ancient Greece',
 'born': -428,
 'teacher': 'Socrates',
 'student': 'Aristotle'}

In [87]:
# "work": ["Apology", "Phaedo", "Republic", "Symposium"]
dict["work"]=["Apology", "Phaedo", "Republic", "Symposium"]
dict

{'name': 'Plato',
 'country': 'Ancient Greece',
 'born': -428,
 'teacher': 'Socrates',
 'student': 'Aristotle',
 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

In [90]:
## Add 2 inches to the son's height.
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
dict["son's height"] = dict["son's height"] + 2

print(dict)

{"son's name": 'Lucas', "son's eyes": 'green', "son's height": 34, "son's weight": 25}

In [91]:
## Using .items() method generate a list of tuples consisted of each key value pair
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
ans_1=dict.items()

print(ans_1)

dict_items([("son's name", 'Lucas'), ("son's eyes", 'green'), ("son's height", 32), ("son's weight", 25)])

In [92]:
# Using .get() method print the value of "son's eyes".
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
ans_1=dict.get("son's eyes")

print(ans_1)

green

In [94]:
# .get() method can be used just to get the value of a key. But it has more tricks up its sleeve.

#Try to look for key: "son's age" and if nothing comes up make the .get() return "2".
ans_1=dict.get("son's age", 2)
print(ans_1)

2

In [95]:
# Using len function, find how many keys there are in the dictionary.
ans_1=len(dict)
print(ans_1)

4

In [96]:
#What's the key with the highest value in the dictionary?
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1=max(dict)

print(ans_1)

son's weight

# String

In [98]:
#By using first, second and last characters of the string, create a new string.
str="It's always darkest before dawn."

#Type your answer here.

ans_1=str[0]+str[1]+str[-1]

print(ans_1)

It.

In [100]:
# Replace the (.) with (!)
ans_1=str.replace(".","!")
print(ans_1)

It's always darkest before dawn!

In [102]:
# Reassign str so that, all its characters are lowercase.
str="EVERY Strike Brings Me Closer to the Next Home run."
# Type your code here.

str=str.lower()    # str=str.upper()


print(str)

every strike brings me closer to the next home run.

In [103]:
# Make the string so that everything is properly and first letter is capital with one function.
str="there are no traffic JamS Along The extra mile."

#Type your answer here.
str=str.capitalize()



print(str)

There are no traffic jams along the extra mile.

In [105]:
# Does the string start with an A?

# Assign a boolean answer to the ans_1 variable.
ans_1=str.startswith("A")
print(ans_1)

False

In [106]:
# Does it end with a fullstop (.) ?

ans_2=str.endswith(".")
print(ans_2)

True

In [109]:
# Using .index() method, identify the index of character: (v).
str="The best revenge is massive success."

#  Type your code here.

ans_1=str.index("v")


print(ans_1)

11

In [111]:
# Using .find() method, identify the index of character: (m).
str="The best revenge is massive success."
ans_1=str.find("m")
print(ans_1)

20

In [114]:
# Try to see what results you get looking for character: 
#(X). First with .find() method and then with .index() method.
str="The best revenge is massive success."
ans_1=str.find("X")
print(ans_1)

-1

In [115]:
# Which character occur more often in the string? "a" or "o" ? Print both counts inside the print function.
str="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
#  Type your code here.

ans_1=str.count("a")

ans_2=str.count("o")


print("count of a is: ", ans_1, " count of o is: ", ans_2)

count of a is:  7  count of o is:  7

In [116]:
# Print the types of two given variables with the print function.
v_1="1"
v_2=1

#  Type your code on line 4:

ans_1=type(v_1)

ans_2=type(v_2)


print(ans_1)
print(ans_2)

<class 'str'>
<class 'int'>

In [117]:
#What is the length of the given string?
str="1.975.000"

#  Type your code here:

ans_1=len(str)


print(ans_1)

9

In [118]:
# Using len() function find out how many items are in the list.
lst=[11, 10, 12, 101, 99, 1000, 999]

answer_1=len(lst)


print(answer_1)

7

In [119]:
#Find out the length of the string given below.
msg="Be yourself, everyone else is taken."
#Type your code here.

msg_length=len(msg)


print(msg_length)

36

In [120]:
# How many keys are there in the dictionary?
dict={"Real Madrid": 13,"AC Milan": 7,"Bayern Munich":5 ,"Barcelona": 5, "Liverpool": 5}
#Type your answer here.

ans_1=len(dict)

print(ans_1)

5

In [123]:
# Call the last element of the list by using the len() function.
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.

index_no = len(gift_list)-1

ans_1 = gift_list[index_no]


print(ans_1)

jam

In [126]:
# Below is a nested data. Find out the length of the item: 'raincoat'. You can use reverse indexing
gift_list=['4K drone', 'wine', 'jam', ['socks', 'pajamas', 'raincoat']]
# Type your code here.

ans_1=len(gift_list[-1][1])

print(ans_1)

7

# Python Sort Exercises

In [128]:
# Sort the list in ascending order with .sort() method.
lst=[11, 100, 99, 1000, 999]

#Type your answer here.
lst.sort()


print(lst)

[11, 99, 100, 999, 1000]

In [130]:
# This time sort the countries in alphabetic order.
lst=["Ukraine", "Japan", "Canada", "Kazakhstan", "Taiwan", "India", "Belize"]

#Type your code here.
lst.sort(reverse= False)


print(lst)

['Belize', 'Canada', 'India', 'Japan', 'Kazakhstan', 'Taiwan', 'Ukraine']

In [131]:
# Now sort the list in descending order with .sort() method.


lst=[11, 100, 101, 999, 1001]

#Type your answer here.

lst.sort(reverse= True)

print(lst)

[1001, 999, 101, 100, 11]

In [132]:
# Can you sort the gift list in reverse alphabetic order?

gift_list=['socks', '4K drone', 'wine', 'jam']

# Type your answer here.
lst.sort(reverse=True)

print(gift_list)

['socks', '4K drone', 'wine', 'jam']

In [134]:
# Sort the list below in reverse alphabetic order and then assign the last element to the answer_1 variable.

NFL=["Panthers", "Bears", "Dolphins" "Patriots", "Saints", "Giants"]

# Type your code here.

NFL.sort(reverse= True)
answer_1=NFL[-1]



print(answer_1)

Bears

In [136]:
# Sort the cities from z to a.

muni=["Melbourne", "Shanghai", "Delhi", "Atlanta", "Moscow", "Montreal"]

# Type your code here.

muni.sort(reverse=True)



print(muni)

['Shanghai', 'Moscow', 'Montreal', 'Melbourne', 'Delhi', 'Atlanta']

In [139]:
# Sort the keys of the dictionary from a to z.

# Hint: You might want to create a list of the keys first with the help of a dictionary method.

dict={"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
#  Type your code below.

key_list=list(dict.keys())
key_list.sort



print(key_list)

['tiramisu', 'chocolate', 'pudding', 'cheesecake']

## Python Pop Exercises

In [140]:
# Pop the last item of the list below.

lst=[11, 100, 99, 1000, 999]

#Type your answer here.

popped_item=lst.pop()
 
print(popped_item)
print(lst)

999
[11, 100, 99, 1000]

In [143]:
# Remove "broccoli" from the list using .pop and .index methods.

lst=["milk", "banana", "eggs", "bread", "broccoli", "lemons"]

#Type your code here.
a=lst.index("broccoli")

item=lst.pop(a)   # item=lst.pop(4)


print(lst, item)

['milk', 'banana', 'eggs', 'bread', 'lemons'] broccoli

In [144]:
# Save Italy's GDP in a separate variable and remove it from the dictionary.

GDP_2018={"US": 21, "China": 16, "Japan": 5, "Germany": 4, "India": 3, "France": 3, "UK": 3, "Italy": 2}

#Type your answer here.

italy_gdp=GDP_2018.pop("Italy")


print(GDP_2018)
print(italy_gdp, "trillion USD")

{'US': 21, 'China': 16, 'Japan': 5, 'Germany': 4, 'India': 3, 'France': 3, 'UK': 3}
2 trillion USD

# Python Input Exercises

In [145]:
# Using input() function ask for user's name.

#Type your answer here.

ans_1=input("what is your name")
 
print("Hello!, " + ans_1)

Hello!, Sibel

In [147]:
# This time ask the user a numerical question, such as, "Please enter your age." See what type of data input() returns.
#Type your code here.
ans_1=input("Please enter your age")


print(type(ans_1))

<class 'str'>

In [152]:
# Using input() function, print() function and another function you may need; 
# ask for the current year, then print the answer +50.

ans=int(input("Tell me this year"))
print(ans+50)

2073

In [154]:
# Create a converter that will ask for amount of days and convert it to years, then print it
# Using int() function convert the user's answer to integer. And then make your calculation.
# You can ask something like: "How many days would you like to convert to a year?"

# Type your answer here.

message=input("How many days would you like to convert to a year?")

result=int(message)/365


print(result)

0.3424657534246575

In [155]:
# Let's create the same converter this time with float() function instead of int().
# Type your answer here.

message=input("How many days would you like to convert to a year?")

result=float(message)/365


print(result)

0.4273972602739726

In [156]:
# Can you create a converter that converts miles to kms?
# Type your answer here.

message= input("Please enter a mile")

result=int(message)*1.609


print(result)

965.4

# Python Range Exercises

In [158]:
# Create a range from 0 to 50, excluding 50.
rng=range(50)
print(rng)

range(0, 50)

In [159]:
# Create a range from 0 to 10 with steps of 2.
#Type your code here.

rng=range(0,10,2)


print(list(rng))

[0, 2, 4, 6, 8]

In [161]:
# Create a range from 100 to 160 with steps of 10. Then print it as a list.
list(range(100,160,10))

[100, 110, 120, 130, 140, 150]

In [163]:
# Can you you create a list from 1300 to 700 with descending steps of 100? 
# Is your stop value included in the list?
print(list(range(1300,700,-100)))

[1300, 1200, 1100, 1000, 900, 800]

In [164]:
# Can you you create a list from 1300 to 700 with descending steps of 100, this time including 700?
print(list(range(1300,699,-100)))

[1300, 1200, 1100, 1000, 900, 800, 700]

In [7]:
without defining zzz anywhere:
print(zz)

SyntaxError: invalid syntax (407066432.py, line 1)

In [8]:
print("hello"

SyntaxError: unexpected EOF while parsing (4227803888.py, line 1)

In [9]:
str="hello"
print(str+7)

TypeError: can only concatenate str (not "int") to str

In [10]:
str="hello"
print(str(10))

TypeError: 'str' object is not callable

In [14]:
dict = {1:111, 2:222, 3:333}
print(dict[5])

KeyError: 5

In [15]:
str = "Hello"
str.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [16]:
str = "moose"
ans_1 = int(str)

ValueError: invalid literal for int() with base 10: 'moose'