In [1]:
a=["apple","banana","orange"]
b=[1,2,3]

In [2]:
zip(a,b)

In [3]:
list(zip(a,b))

[('apple', 1), ('banana', 2), ('orange', 3)]

In [4]:
x="techpro"
y="sedat"
z="ali"

In [5]:
list(zip(x,y,z))  ## en kucuk olanlari aliyo

[('t', 's', 'a'), ('e', 'e', 'l'), ('c', 'd', 'i')]

In [7]:
list(zip("techpro",[],(1,2,3)))  ## en kucuk bos kume oldugu icin onu aliyo sadece

[]

In [8]:
## enumerate

In [9]:
a

['apple', 'banana', 'orange']

In [10]:
enumerate(a)

In [11]:
list(enumerate(a))  ## numaralandirmaya yariyo

[(0, 'apple'), (1, 'banana'), (2, 'orange')]

In [12]:
tuple(enumerate(a))

((0, 'apple'), (1, 'banana'), (2, 'orange'))

In [13]:
dict(enumerate(a))

{0: 'apple', 1: 'banana', 2: 'orange'}

In [14]:
list(enumerate(a,100))  ## numaralandirmak istersek

[(100, 'apple'), (101, 'banana'), (102, 'orange')]

In [15]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [16]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [17]:
## listedeki kayip elemanlari
min(num)

5

In [18]:
max(num)

55

In [19]:
len(num)

40

In [20]:
print(list(range(5,56)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [27]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
empty_list=[]



for i in range(min(num),max(num)+1):
    if i not in num:
        empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [31]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
empty_list=[]



for i in range(min(num),max(num)+1):
    if i  in num:
        continue
    empty_list.append(i)
    
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [32]:
print(set(range(min(num),max(num) +1)))

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55}

print(set(range(min(num),max(num) +1))) - set(num)

In [36]:
set(range(min(num),max(num) +1)) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [45]:
##  3 e bolunmeyenleri bul

num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

empty_list=[]
for i in num:
    if i%3 !=0:    
        #continue
        empty_list.append(i)
print(empty_list)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

### List Comprehension

In [47]:
list_1= [4,8,69,47,53,2,51,44,35]
empty_list=[]
for i in list_1:
    empty_list.append(i**2)
print(empty_list)

[16, 64, 4761, 2209, 2809, 4, 2601, 1936, 1225]

In [48]:
[ i**2 for i in list_1]

[16, 64, 4761, 2209, 2809, 4, 2601, 1936, 1225]

In [51]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [54]:
list_2=[1,4,8,25,96,88,44,75,36,25,24,15]
[i for i in list_2 if i%2==0]

[4, 8, 96, 88, 44, 36, 24]

In [56]:
[i for i in list_2 if i%2 ]

[1, 25, 75, 25, 15]

In [59]:
evens=[]
for i in list_2:
    if i %2 ==0:
        evens.append(i)
evens

[4, 8, 96, 88, 44, 36, 24]

In [60]:
list_3=[1,2,3,4,56,7,8,9]

In [74]:
empty_list = []
for i in list_3:
    if i % 2:
        empty_list.append(i)
    else:
        empty_list.append(i ** 2)
empty_list

[1, 4, 3, 16, 3136, 7, 64, 9]

In [75]:
[i if i%2 else i**2 for i in list_3]  ## if, else ile beraber kullanim

[1, 4, 3, 16, 3136, 7, 64, 9]

In [77]:
list_4=["renault?","fiat?!","ford?"]
list_4

['renault?', 'fiat?!', 'ford?']

In [78]:
[i.replace("?","").replace("!","") for i in list_4]

['renault', 'fiat', 'ford']

## nested loops

In [79]:
## ic ice donguler
for i in ["Murat","Filiz","Techpro"]:
    for j in [1,2,3,4,5]:
        print(i,j)

Murat 1
Murat 2
Murat 3
Murat 4
Murat 5
Filiz 1
Filiz 2
Filiz 3
Filiz 4
Filiz 5
Techpro 1
Techpro 2
Techpro 3
Techpro 4
Techpro 5

In [82]:
for i in [1,2,3,4]:
    for j in [5,6,7,8]:
        for z in [9]:
            print(i,j,z)

1 5 9
1 6 9
1 7 9
1 8 9
2 5 9
2 6 9
2 7 9
2 8 9
3 5 9
3 6 9
3 7 9
3 8 9
4 5 9
4 6 9
4 7 9
4 8 9

In [83]:
for i in range(10):
    for j in range(10):
        print(f"{i} x {j} = {i*j}")

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [85]:
liste_4 = ["renault*","fiat?!","ford?!"]

[i.replace("?","").replace("!","").replace("*","") for i in liste_4]

['renault', 'fiat', 'ford']

## Armstrong number

In [86]:
num = 1634

# Changed num variable to string, 
# and calculated the length (number of digits)
order = len(str(num))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

1634 is an Armstrong number

In [87]:
len(str(153))

3

In [99]:
x=input("bir sayi giriniz")
uzunluk=len(x)
toplam=0

for i in x:
    toplam +=int(i)**uzunluk
if toplam==int(x):
    print(f" Girdiginiz sayi Armstrong bir sayidir" )
else:
    print("Girdiginiz sayi Armstrong sayi degildir")

 Girdiginiz sayi Armstrong bir sayidir

In [118]:
# list comp
for x in range(10,10001):
    uzunluk = len(str(x))

    toplam = 0

    toplam = sum([int(i) ** uzunluk for i in str(x)])
        
        
    if toplam == int(x):
        empty_list_1.append(x)

empty_list_1

TypeError: 'int' object is not callable

In [115]:
## 10 ile 10000 arasindaki armstrong numberlari bulun
empty_list_1 = []

for x in range(10,10001):
    uzunluk = len(str(x))

    toplam = 0

    for i in str(x):
        toplam += int(i) ** uzunluk
        
    if toplam == int(x):
        empty_list_1.append(x)

empty_list_1

[153, 370, 371, 407, 1634, 8208, 9474]

In [117]:
int()

0