In [1]:
print("python ia awasome")

python ia awasome

In [2]:
(''' python is a wasome''')

' python is a wasome'

In [1]:
print("")

In [4]:
print(" ")

In [5]:
print('''''')

In [6]:
print(""" python is awasome""")

 python is awasome

In [7]:
print("     '     ")

     '

In [8]:
####Pep8 Kurallari

In [9]:
print(type("Hello World"))

<class 'str'>

In [11]:
print(type("5"+"5"))

<class 'str'>

In [12]:
print("4"*5)

44444

In [13]:
"sedat"*3

'sedatsedatsedat'

In [14]:
print("sedat")

sedat

In [15]:
print(""sedat"")

SyntaxError: invalid syntax (549765579.py, line 1)

In [16]:
"s""e""d""a""t"

'sedat'

In [17]:
x,y,z="banana","apple","cherry"
print(x)
print(z)
print(y)

banana
cherry
apple

In [18]:
x
y
z

'cherry'

In [19]:
type(x,y,z)

TypeError: type.__new__() argument 2 must be tuple, not str

In [20]:
type(x)

str

In [21]:
my_age=32
your_age=50
my_age=your_age

In [22]:
my_age

50

In [23]:
my_age=55

In [24]:
my_age

55

In [26]:
person="John"
age=30
department="Data Science"
salary=120000
person="Adam"
age=32
department="Web Developer"
salary=110000

In [28]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
110000
32

In [31]:
x="Techpro"
y=x
x="python"
print(x)
print(y)

python
Techpro

In [35]:
jan=march=may=july=august=oct=dec=31
feb=28
apr=jun=sep=nov=30
print(jan,feb,march,apr,may,jun,july,august,sep,oct,nov,dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [36]:
### Type Conversion

In [2]:
liste=["techpro","sedat"]
list(enumerate(liste,100))

[(100, 'techpro'), (101, 'sedat')]

TypeError: 'int' object is not iterable

In [6]:
zip_1=list(zip("techpro",[1,2],(5,6,7,8)))
for i,j,k in zip_1:
    print(i,j,k)

t 1 5
e 2 6

In [7]:
ceza=input("cumlenizi giriniz")
for i in range(2,10):
    print(ceza)

fhd
fhd
fhd
fhd
fhd
fhd
fhd
fhd

In [12]:
a=["apple","orange","banana"]
b=[1,2,3]
print(list(zip(a,b)))

[('apple', 1), ('orange', 2), ('banana', 3)]

In [17]:
for i in "techpro":
    print(i,end="-")

t-e-c-h-p-r-o-

In [18]:
for i in range(10):
    if i %2:
        continue
    print(i,end="-")

0-2-4-6-8-

In [19]:
x=[1,2,3,4,5]
for index in x:
    print(index,end="")

12345

In [23]:
empy_str=""
for i in "techpro":
    empy_str +=(i+"-")
    result=empy_str.rstrip("+")
print(result)

t-e-c-h-p-r-o-

In [28]:
lst=[11,12,13,14,15,]
for i in lst:
    if i==14:
        break


print(i,end="-")

14-

In [29]:
liste=[1,2,3,4,5]
[x**2 if x%2 else x for x in liste]

[1, 2, 9, 4, 25]